body{
	font-family:yekan,YekanNumbers,verdana !important;
	direction:rtl !important;
	font-size:15px !important;
	}
@font-face{
	font-family:'mj';
	src:url('../fonts/Mj_Dinar_Two_Light.eot');
	src:url('../fonts/Mj_Dinar_Two_Light.eot#iefix') format('eot'),url('../fonts/Mj_Dinar_Two_Light.woff') format('woff'),url('../fonts/Mj_Dinar_Two_Light.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:'yekan';
	src:url("../fonts/YekanWeb-Regular.eot");
	src:url("../fonts/YekanWeb-Regular.eot?#iefix") format("embedded-opentype"),url("../fonts/YekanWeb-Regular.woff") format("woff"),url("../fonts/YekanWeb-Regular.ttf") format("truetype"),url("../fonts/YekanWeb-Regular.svg#YekanWeb-Regular") format("svg");
	font-style:normal;
	font-weight:normal;
	text-rendering:optimizeLegibility
}

@font-face{
	font-family:'YekanNumbers';
	src:url("../fonts/YekanNumbers-Regular.eot");
	src:url("../fonts/YekanNumbers-Regular.eot?#iefix") format("embedded-opentype"),url("../fonts/YekanNumbers-Regular.woff") format("woff"),url("../fonts/YekanNumbers-Regular.ttf") format("truetype"),url("../fonts/YekanNumbers-Regular.svg#YekanNumbers-Regular") format("svg");
	font-style:normal;
	font-weight:normal;
	text-rendering:optimizeLegibility
}



.exo{
	font-family:verdana !important;
	}
h1,h2,h3,h4,h5,h6{
	font-family:yekan,verdana !important;
	}
rtl{
	direction:rtl !important;
	}
rtl{
	direction:ltr !important;
	}
.btn-menu{
	background-color:#438838;
	color:#FFF;
	}
.btn-menu:hover{
	background-color:#33672b;
	color:#FFF !important;
	}
h1{
	margin-bottom:20px !important;
	}
.h4-font{
	font-size:18px;
	color:#438838;
	font-weight:bold;
	}
.h6-font{
	font-size:12px;
	}
.describe{
	font-size:18px;
	text-align:justify;
	line-height:5px;
	}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
	background-color:#438838 !important;
	color:#FFF !important;
	}
.gift{
	color:#5cb85c;
	text-align:center;
	font-weight:bold;
	}
.price{
	font-weight:bold;
	letter-spacing:2px;
	text-align:center;
	}
.price-calculate{
	position:fixed;
	top:0;
	left:50%;
	background-color:#5cb85c;
	text-align:center;
	color:#FFF;
	padding:10px;
	min-width:100px;
	font-weight:bold;
	}
.col ul li{
	text-decoration:none;
	list-style-type:none;
	}
.panel-heading{
	background-color:#438838 !important;
	
	}
.panel-title a {
	color:#FFF !important;
	}
strong {
	color:#438838;
	}
.top-header{
	
	}

footer .col ul li {
	color:#fff !important;
	}
footer h4 {
	color:#fff !important;
	}
footer .col p {
	color:#fff !important;
	}
footer a {
	color:#fff !important;
	}
footer a:hover {
	color:#438838 !important;
	}
.para{
	background-size:auto;
	background-attachment:fixed !important;
	background-position:0 0 0 0;
	background-repeat:no-repeat;
	color:#fff;
	}
.margin-padding{
	margin:0 !important;
	padding:5px !important;
	color:#FFF; 
	}
.client{
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
	}
.client:hover{
	
	border:1px solid #438838 !important;
	}
footer hr{
	border-top:1px solid #438838 !important;
	}
hr{
	border-color:#438838 -moz-use-text-color -moz-use-text-color !important;
	}
.itemwrap{
	margin-top:80px !important;
	
	}
.itemwrap h2{
	margin-top:80px !important;
}
.panel{
	background:none !important;
	}
hr{ 
border: 0 !important; 
height: 1.9px !important; 
background-image: -webkit-linear-gradient(left, rgba(67,136,76,0), rgba(67,136,76,0.9), rgba(67,136,76,0)) !important; 
background-image: -moz-linear-gradient(left, rgba(67,136,76,0), rgba(67,136,76,0.9), rgba(67,136,76,0)) !important;
background-image: -ms-linear-gradient(left, rgba(67,136,76,0), rgba(67,136,76,0.9), rgba(67,136,76,0)) !important; 
background-image: -o-linear-gradient(left, rgba(67,136,76,0), rgba(67,136,76,0.9), rgba(67,136,76,0)) !important; 
}
#navOne{
	border-bottom:1px solid #438838;
	}
i.fa-green{
	color:#438838;
	}
.h-green{
	color:#438838;
	}
.para{
	margin-top:80px;
	border-top:2px solid #438838;
	border-bottom:2px solid #438838;
	box-shadow:0 0 5px #438838;
	}
.consultation{
	margin-top:48px;
	}
.wp-theme-1 .navbar-wp .navbar-nav > li > a {
	padding:28px 10px !important;
	}
.contact {
	margin-top:150px;
	}
.header-main{
	padding-right:0 !important;
	}
.navbar-right {
	padding-right:0 !important;
	}
i.fa-facebook:hover{
	background-color:#3a5795 !important;
	color:#ffffff !important;
	}
i.fa-google-plus:hover{
	background-color:#d34836 !important;
	color:#ffffff !important;
	}
i.fa-linkedin:hover{
	background-color:#1e88bd !important;
	color:#ffffff !important;
	}
i.fa-instagram:hover{
	background-color:#517fa4 !important;
	color:#ffffff !important;
	}
.managers{
	padding:10px !important;
	}
.managers img {
	width:180px !important;
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.tags{
	margin:0;
	padding:0;
	}
.tags li {
	display:inline-block;
	list-style-type:none;
	}
.tags li a {
	display:inline-block;
	background-color:#64a45a;
	text-decoration:none;
	padding:5px;
	color:#fff;
	border:1px solid #64a45a;
	}
.tags li a:hover {
	display:inline-block;
	background-color:#fff;
	text-decoration:none;
	padding:5px;
	color:#64a45a;
	border:1px solid #64a45a;
	}

.logo img{
	height:110px !important;
	}
.social-link{
	width:100%;
	text-align:center;
	margin:auto;
	}
.hr-header{
	padding:0 !important;
	margin:0 !important;
	background-image: -webkit-linear-gradient(left, rgba(67,136,76,0), rgba(67,136,76,0.9), rgba(67,136,76,0.9)) !important; 
background-image: -moz-linear-gradient(left, rgba(67,136,76,0), rgba(67,136,76,0.9), rgba(67,136,76,0.9)) !important; background-image: -ms-linear-gradient(left, rgba(67,136,76,0), rgba(67,136,76,0.9), rgba(67,136,76,0.9)) !important; 
background-image: -o-linear-gradient(left, rgba(67,136,76,0), rgba(67,136,76,0.9), rgba(67,136,76,0.9)) !important; 
	}
.logo-div{
	height:120px;
	border-bottom:1px solid #438838;
	padding-right:0 !important;
	padding-left:30px !important;
	}
.header-nav{
	padding-left:0 !important;
	}
.navbar-brand{
	padding-top:5px !important;
	}
.h1-seo{
	font-size:24px;
	}
.h1-font{
	font-size:16px !important;
	}
.effect6
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect6:before, .effect6:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect6:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
.news{
	margin-top:48px;
	}
.news ul{
	padding:0;
	margin:0;
	}
.news ul li{
	list-style-type:none;
	}
.news ul li a{
	font-size:16px;
	}
.timeago{
	font-size:14px;
	color:#999;
	}
.article p.key {
	background-color:#bbb;
	padding:10px 30px 10px 30px;
	}
.article i.fa{
	color:#438838 !important;
	font-size:14px;
	}
.article img{
	margin:auto;
	}
.article p {
	text-align:justify;
	}