body{
	font-family:mj,exo !important;
	direction:rtl !important;
	font-size:15px !important;
	background-image:url(http://www.rayweb.ir/images/bg.jpg) !important;
	}
section,.top-header,header{
	background-image:url(http://www.rayweb.ir/images/bg.jpg);
	}
@font-face{
	font-family:'mj';
	src:url('../fonts/Mj_Dinar_Two_Light.eot');
	src:url('../fonts/Mj_Dinar_Two_Light.eot#iefix') format('eot'),url('../fonts/Mj_Dinar_Two_Light.woff') format('woff'),url('../fonts/Mj_Dinar_Two_Light.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'Exo';
	src:url('../fonts/Exo-Light.eot');
	src:url('../fonts/Exo-Light.eot#iefix') format('eot'),url('../fonts/Exo-Light.woff') format('woff'),url('../fonts/Exo-Light.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
.exo{
	font-family:Exo,mj !important;
	}
h1,h2,h3,h4,h5,h6{
	font-family:mj,Exo !important;
	}
rtl{
	direction:rtl !important;
	}
rtl{
	direction:ltr !important;
	}
.btn-menu{
	background-color:#438838;
	color:#FFF;
	}
.btn-menu:hover{
	background-color:#33672b;
	color:#FFF !important;
	}
h1{
	margin-bottom:20px !important;
	}
.h4-font{
	font-size:18px;
	color:#438838;
	font-weight:bold;
	}
.h6-font{
	font-size:12px;
	}
.describe{
	font-size:18px;
	text-align:justify;
	line-height:5px;
	}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
	background-color:#438838 !important;
	color:#FFF !important;
	}
.gift{
	color:#5cb85c;
	text-align:center;
	font-weight:bold;
	}
.price{
	font-weight:bold;
	letter-spacing:2px;
	text-align:center;
	}
.price-calculate{
	position:fixed;
	top:0;
	left:50%;
	background-color:#5cb85c;
	text-align:center;
	color:#FFF;
	padding:10px;
	min-width:100px;
	font-weight:bold;
	}
.col ul li{
	text-decoration:none;
	list-style-type:none;
	}
.panel-heading{
	background-color:#438838 !important;
	
	}
.panel-title a {
	color:#FFF !important;
	}
strong {
	color:#438838;
	}
.top-header{
	border-bottom:1px solid #438838 !important;
	}

footer .col ul li {
	color:#fff !important;
	}
footer h4 {
	color:#fff !important;
	}
footer .col p {
	color:#fff !important;
	}
footer a {
	color:#fff !important;
	}
footer a:hover {
	color:#438838 !important;
	}
.para{
	background-image:url(http://www.rayweb.ir/images/prv/para.jpg) !important;
	background-size:auto;
	background-attachment:fixed !important;
	background-position:0 0 0 0;
	background-repeat:no-repeat;
	color:#fff;
	}
.margin-padding{
	margin:0 !important;
	padding:5px !important;
	color:#FFF; 
	}
.client{
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
	}
.client:hover{
	
	border:1px solid #438838 !important;
	}
footer hr{
	border-top:1px solid #438838 !important;
	}
hr{
	border-color:#438838 -moz-use-text-color -moz-use-text-color !important;
	}
.wp-theme-1,.lw,.bg-5,.bg-3 {
	background-image:url(http://www.rayweb.ir/images/bg.jpg !important);
	}
.itemwrap{
	margin-top:80px !important;
	
	}
.itemwrap h2{
	margin-top:80px !important;
}
.panel{
	background:none !important;
	}
hr{ 
border: 0 !important; 
height: 1px !important; 
background-image: -webkit-linear-gradient(left, rgba(67,136,76,0), rgba(67,136,76,0.75), rgba(67,136,76,0)) !important; 
background-image: -moz-linear-gradient(left, rgba(67,136,76,0), rgba(67,136,76,0.75), rgba(67,136,76,0)) !important; background-image: -ms-linear-gradient(left, rgba(67,136,76,0), rgba(67,136,76,0.75), rgba(67,136,76,0)) !important; 
background-image: -o-linear-gradient(left, rgba(67,136,76,0), rgba(67,136,76,0.75), rgba(67,136,76,0)) !important; 
}
#navOne{
	border-bottom:1px solid #438838;
	}
i.fa-green{
	color:#438838;
	}
.h-green{
	color:#438838;
	}
.para{
	margin-top:80px;
	border-top:2px solid #438838;
	border-bottom:2px solid #438838;
	box-shadow:0 0 5px #438838;
	}
.consultation{
	margin-top:48px;
	}
.wp-theme-1 .navbar-wp .navbar-nav > li > a {
	padding:28px 10px !important;
	}
.contact {
	margin-top:150px;
	}
.header-main{
	padding-right:0 !important;
	}
.navbar-right {
	padding-right:0 !important;
	}
i.fa-facebook:hover{
	background-color:#3a5795 !important;
	color:#ffffff !important;
	}
i.fa-google-plus:hover{
	background-color:#d34836 !important;
	color:#ffffff !important;
	}
i.fa-linkedin:hover{
	background-color:#1e88bd !important;
	color:#ffffff !important;
	}
i.fa-instagram:hover{
	background-color:#517fa4 !important;
	color:#ffffff !important;
	}
.managers{
	padding:10px !important;
	}
.managers img {
	width:180px !important;
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;